body{

    /* background-color: black; */
    background-image: url("https://d2v9y0dukr6mq2.cloudfront.net/video/thumbnail/Hme4C4_7iosf3emf/stars-in-the-sky-looped-animation-beautiful-night-with-twinkling-flares-hd-1080_sr8wih9v__F0000.png");
    
}

h1{
    font-family: 'Space Mono', monospace;

}

#mapid {
    height: 48em;
}

label{
    color:#6c757d;
}


h3{
    font-size: 1.4em;
    color:#f8f9fa;
    margin-bottom: 0rem;
}
@media only screen and (max-width: 768px) {
.form-control{
    max-width: 768px;
    width:97%;
}

}
