body{

    background-color: black;
    
}

h1{
    font-family: 'Space Mono', monospace;

}

#mapid {
    height: 48em;
}

label{
    color:#6c757d;
}


h3{
    font-size: 1.4em;
    color:#f8f9fa;
    margin-bottom: 0rem;
}
@media only screen and (max-width: 768px) {
.form-control{
    max-width: 768px;
    width:97%;
}

}
